<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>KIFT - <%= title %></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">KIFT</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/">Home</a>
        </li>
        <% if (currentUser) { %>
          <li>
            <a href="/history">My History</a>
          </li>
          <li>
            <a href="/alarm">My Alarm</a>
          </li>
          <li>
            <a href="/profile"><%= currentUser.firstName %> <%= currentUser.lastName %></a>
          </li>
          <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a class="show-login-modal" href="/login">Login</a></li>
          <li><a class="show-signup-modal" href="/signup">Sign up</a></li>
        <% } %>
      </ul>
    </div>
  </div>
  <div class="container<% if (isKift) { %>-fluid<% } %>">
    <% errors.forEach(function(error) { %>
      <div class="alert alert-danger">
        <%= error %>
      </div>
    <% }) %>
    <% infos.forEach(function(info) { %>
      <div class="alert alert-info">
        <%= info %>
      </div>
    <% }) %>
