<% include _header.html %>

<div class="timer">
</div>

<script src="js/jquery.min.js"></script>

<% if (currentUser.alarm) { %>
<script>
	jQuery(document).ready(function() {
		var countDownDate = new Date('<%= currentUser.alarm %>').getTime();
console.log('<%= currentUser.alarm %>');
		console.log(countDownDate);
		var x = setInterval(function() {
		    var now = Date.now();
console.log(now);

		    var distance = countDownDate - now;
console.log(distance);

		    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

		    $(".timer").html('<p>'+ hours + "h " + minutes + "m " + seconds + "s " +'</p>');

		    if (distance < 0) {
		        clearInterval(x);
		        $(".timer").html("<p>Your last alarm expired!</p>");
		    }
		}, 1000);
	});
</script>
<% } else { %>
<script type="text/javascript">
	$('demo').html('<p>No Alarms yet!</p>');
</script>
<% } %>

<% include _footer.html %>
