<% include _header.html %>

<div id="visualizer"></div>

<section id="info-msg">
		<p>Hold down the space bar to send a command.</p>
</section>

<section id="text-msg">
	<p></p>
</section>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/kift/artyom.min.js"></script>
<script src="js/kift/visualizer.js"></script>
<script src="js/kift/audiodisplay.js"></script>
<script src="js/kift/recorder.js"></script>
<script src="js/kift/main.js"></script>
<script>
	var allowed = true;

	$( "body" ).keydown(function( event ) {
		artyom.shutUp();
		if (event.repeat != undefined) {
			allowed = !event.repeat;
		}
		if (allowed && event.which == 32 ) {
				console.log("recording");
				toggleRecording(this);
				allowed = false;
			}
	});
	$( "body" ).keyup(function( event ) {
		if ( event.which == 32 ) {
			console.log("Done recording");
			toggleRecording(this);
			allowed = true;
		}
	});
</script>

<% if (currentUser) { %>
	<script type="text/javascript">
		userName = '<%= currentUser.firstName + "_" + currentUser.lastName %>';
		userName = userName.toLowerCase();
		<% if (currentUser.hasTrained) { %>
			artyom.shutUp();
			artyom.say('Welcome back <%= currentUser.firstName %>!\
			How may I help you today?');
		<% } else {%>
			artyom.shutUp();
			artyom.say('Thank you for signing up. Before we can start interacting, I need to get to know your voice.');
			artyom.say('So please, read this little poem as clearly as possible then press Enter.', {
				onEnd: function() {
					console.log('recording');
					toggleRecording(document.querySelector('body'));
					$( "body" ).keypress(function( event ) {
						if (event.which == 13 ) {
								console.log("Done recording");
								toggleRecording(this);
							}
					});
				},
				onStart: function() {
					display_poem();
				}
			});
		<% } %>
	</script>
<% } else { %>
	<script>
		userName = '';
		artyom.shutUp();
		artyom.say('Hello stranger! welcome to kift, My name is Deep Thought.\
		 I am a smart online personal assistant.\
		 To get started, please, sign up or login.',{
			onEnd: function() {
				if (!$('#signup-modal').is(':visible') && !$('#login-modal').is(':visible')) {
					$('#signup-modal').modal('show');
				}
			}
		});
	</script>
<% }%>

<% include _footer.html %>
