<% include _header.html %>

  <h2>Become a Member</h2>
  <form action="/signup" method="post">
    <input type="text" class="form-control" name="firstName"
      placeholder="First Name" required>
      <input type="text" class="form-control" name="lastName"
        placeholder="Last Name" required>
    <input type="email" class="form-control" name="email"
      placeholder="Email" required>
    <input type="password" class="form-control" name="password"
      placeholder="Password" required>
    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
  </form>

<% include _footer.html %>
